body {
  background-color: #f7e6e6;
  background-image: radial-gradient(#8d45f7 1.25px, transparent 1.25px),
    radial-gradient(#8d45f7 1.25px, #f7e6e6 1.25px);
  background-size: 50px 50px;
  background-position: 0 0, 25px 25px;
  font-family: "Roboto", sans-serif;
}
button {
  display: block;
  margin: 15px auto;
  padding: 10px 15px;
  font-size: 15px;
  border-radius: 5px;
  border-width: 2px;
  color: white;
  background: #8d45f7;
  border: solid;
  border-color: #8d45f7;
  transition: all 200ms ease-in-out;
}

button:hover {
  cursor: pointer;
  color: #8d45f7;
  background-color: white;
  border-color: #8d45f7;
  border-style: solid;
}

h1 {
  text-align: center;
  font-weight: 100;
  background-color: #f7e6e6;
  padding: 20px;
  border-radius: 5px;
}
h2 {
  text-align: center;
  font-weight: 100;
  font-size: 22px;
}
p {
  text-align: center;
  font-weight: 100;
  font-size: 15px;
  padding: 10px 30px;
  line-height: 28px;
}
.main-picture {
  display: block;
  margin: 0 auto;
  padding: 20px;
  max-width: 90%;
  border-radius: 4px;
  filter: contrast(110%);
  transition: transform 300ms ease-in-out, opacity 1000ms ease-in-out;
}
.main-picture:hover {
  opacity: 0.6;
  transform: scale(1.1);
}
.learn-more {
  text-decoration: none;
  font-size: 15px;
  color: #8d45f7;
  padding-left: 40px;
}
.learn-more:hover {
  text-decoration: underline;
}

.container {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 70%;
  background: white;
  padding: 40px;
  margin-bottom: 1em;
  border-radius: 4px;
}
.author {
  text-align: center;
  font-family: "PT Mono", monospace;
  padding: 10px;
  font-size: 14px;
  margin-bottom: 1em;
}
.image-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 700px;
}

.grid-pictures:hover {
  transform: scale(1.5);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.image-gallery img {
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in-out;
}

.night {
  background: linear-gradient(
    139deg,
    rgb(37, 35, 35) 57%,
    rgb(139, 102, 241) 100%
  );
}

.night .container {
  background-color: #e6e6e6;
}

.night h1 {
  background-color: #333333;
  color: white;
}

.night .author {
  color: white;
}
